*{
    /* padding: 0; */
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.nav-title-color{
    color: #FD6E0A;
}
.org-button{
   /* padding: 18px 35px 19px 36px; */
   padding: 19px 17px 18px 17px;
    background: #FD6E0A;
    border-radius: 5px;
    height: 64px;
    font-weight: 700;
font-size: 20px;
color: #FFFFFF;
}
/* PRIMARY STYLE */
.nav-title{
    font-weight: 800;
font-size: 45px;
}

nav   {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav ul{
    display: flex;
    align-items: center;


}
nav li{
    list-style: none;
    margin-left: 50px;
}
/* banner */
.banner{
    display: flex;
    margin: 0 200px;
    align-items: center;
}
.author-name{
    font-weight: 900;
font-size: 60px;

}
.banner-title{
    font-weight: 600;
font-size: 45px;
}
.banner-des{
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    padding-bottom: 30px;
}
.contac{
    display: flex;
  
}
/* #con{
    margin-left: ;
    font-weight: 700;
font-size: 20px;
padding: 19px 23px 18px 58px;
} */